.container-cards {
    height: 500px;
    width: 1125px;
    left: 158px;
    top: 403.84765625px;
    margin: 0 auto;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 109.85px;
 
}

.content-cards {
    height: 136px;
    width: 351.8955383300781px;
    border-radius: 8px;
    border-radius: 8px;
    background: #F6F7F9;
    border-radius: 8px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    box-shadow: 4px 4px 4px 0px #212121 10%;
}

.cards-title {
    height: 27.977222442626953px;
    width: 149.1907196044922px;
    left: 0px;
    top: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #212121;
    text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
    margin-left: 25.95px;
    margin-top: 10px;
}

.skills {
    display: flex;
    height: 51.53152847290039px;
    width: 88.87910461425781px;
    left: 25.9453125px;
    top: 45.3671875px;
    border-radius: 0px;
}

.cards-value {
    height: 36.04155349731445px;
    width: 37.9530029296875px;
    border-radius: 80px;
    border: 3px solid #212121;
    box-sizing: border-box;
    padding: 4px;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    display: flex;
    align-content: center;
}

div .attack {
    display: flex;
    flex-direction: column;
}

div .defese {
    display: flex;
    flex-direction: column;
}

.skills-pokemons {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    font-style: normal;
    color: #4B4B4B;
    padding-top: 5px;
    
}

.grass {
    display: flex;
    align-items: center;
    height: 15.87896728515625px;
    width: 132.97434997558594px;
    left: 25.9453125px;
    top: 108.8828125px;
    border-radius: 0px;
    margin-top: 10px
}

.grass-p {
    height: 15.87896728515625px;
    width: 60.00061798095703px;
    left: 0px;
    top: 0px;
    background: #73D677;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    margin-top: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-right: 13px;
}

.poison-p {
    height: 15.87896728515625px;
    width: 60.00061798095703px;
    left: 0px;
    top: 0px;
    background: #07D6F2;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    margin-top: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: rgb(0, 0, 0)
}

.cards-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-img {
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/100.png");
    height: 136.86154174804688px;
    width: 232.25103759765625px;
    left: 0px;
    top: 0px;
    border-radius: 0px 8px 8px 0px;
    display: flex;
    align-items: center;
}

.img-cards {
    height: 156.52120971679688px;
    width: 167.8395538330078px;
    left: 0.8125px;
    top: -9.828125px;
    border-radius: 0px;
}

.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
}

.lds-circle>div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: rgb(36, 35, 35);
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
    0%, 100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}