.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 5px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(224, 228, 9);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.group {
  height: 738.5441284179688px;
  width: 1125px;
  left: 158px;
  top: 166px;
  border-radius: 0px;
  margin: 0 auto;
}

.search-container {
  height: 149px;
  width: 1088px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

.search-title {
  margin-top: 73px;
  margin-bottom: 34px;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 3px;
  color: #000000;
}

.input-search {
  height: 53px;
  width: 1088px;
  position: absolute;
  background: #F2F2F2;
  border-radius: 40px;
  border: 1px solid #F2F2F2;
  box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
  padding-top: 16px;
  padding-bottom: 17px;
  padding-left: 31px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(24, 22, 22, 0.8);
 
  
  



}