.search-container {
    display: flex;
    flex-direction: column;
    height: 149px;
    width: 1088px;
    margin: 0 auto;
}

.search-title {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 3px;
    text-align: center;
    font-style: normal;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 3px;
    color: #000000;
    margin-top: 73px;
    margin-bottom: 34px;
}

.input-search {
    height: 53px;
    width: 1088px;
    left: 0px;
    top: 0px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 40px;
    box-shadow: 4px 4px 16px 0px #03142a 20%;
    padding-left: 31px;
    padding-top: 16px;
    padding-bottom: 17px;
}